<!-- Inheriting "librarian_dashboard.html" -->
{% extends "librarian_dashboard.html" %}

{% block title %}Update Section{% endblock %}

{% block content %}
<h4>Please Enter Section Details for update</h4>
<form action="#" method="post">
    <div class="mb-3">
        <label for="section-id" class="form-label">Section Id</label>
        <input type="text" class="form-control" id="section-id" name="section-id" value="{{this_section.section_id}}" disabled>
    </div>
    <div class="mb-3">
        <label for="section-name" class="form-label">Section Name</label>
        <input type="text" class="form-control" id="section-name" name="section-name" value="{{this_section.section_name}}" required>
    </div>
    <div class="mb-3">
        <label for="section-description" class="form-label">Description</label>
        <input type="text" class="form-control" id="section-description" name="section-description" value="{{this_section.description}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock content %}